.tile{
  box-shadow: -4px -4px 4px 0 rgba(0, 0, 0, 0.2), 4px 4px 4px 0 rgba(0, 0, 0, 0.19);
  width: 25%;
  border: 5 px;
  border-style: outset;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  margin: 10% 10% 10% 10%;
  
  background-color: white;
  padding: 1%;
}
.tile:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.05);
  cursor: pointer;
}
.rightText{
	text-align: right;
}
.rightAligned{
	margin-right: 2px;
}
.lessMargin{
	margin-top: 2px;
	margin-bottom: 2px;
}
.iconRightFloated{
	float:right;
	margin: 5px;
}
.leftFloated{
	float:left;
	margin: 6%;
}
.rightFloated{
	float:right;
	margin: 6%;
}
.dashboard{
	width:100%;	
}
.stockImage{
	width:100%;
}